* {
    border: 0;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.container {
    max-width: 800px;
    width: 100%;
}

.d-flex {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.header {
    display: flex;
    flex-direction: row;
    background-color:#255ee9;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

.menu {
    display: flex;
    background-color: #255ee9;
    justify-content: space-between;
}

.text {
    width: 100%;
    
    
}

.bg1 {
   display: flex;
    min-height: 800px;
    align-items: center;
    background-size: contain;
background-image: url(img/jumbo.png);

}


.square {
    display: flex;
    height: 70%;
    width: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.bg2 {
    display: flex;
    flex-direction: row;
    min-height: 400px;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    background-color: #255ee9;

}

.second-square {
    
   background-image: url(img/item1.svg);
    height: 300px;
    width: 100%;
   background-size: contain;
   background-repeat: no-repeat;
    background-color:#255ee9;
   

}

.second-square2 {
    display: flex;
    background-color: #255ee9;
    width: 50%;
    flex-direction: column;
    color: white;
}

.bg3 {
    display: flex;
    flex-direction: row;
    min-height: 600px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #255ee9
}

.third-square {
    display: flex;
    background-image: url(img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    align-items: center;
    padding-top: 40px;
    padding-left: 40px;
}

.third-square2 {
    display: flex;
    background-color: #255ee9;
    width: 45%;
    padding-top: 40px;
    padding-right: 40px;
    flex-direction: column;
    align-items: center;

}
.bg4{display: flex;
    flex-direction: row;
    min-height: 400px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #255ee9

}
.bg5{
    display: flex;
    min-height: 750px;
    align-items: center;
    background-color: #49497a
}
.fourth-square{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 750px;
    justify-content: center;
    align-items: center;
    
    
}

.bg6{
    display: flex;
    min-height: 300px;
    align-items: center;
    background-color: black
}
.fifth-square{
    display: flex;
    height: 250px;
    width: 100%;
    background-color: pink;
}
.sixth-square{
    display: flex;
    width: 40%;
    background-color: crimson;
    border: 1px dashed black;
}

.bg7 {
    
    height: 70px;
    background-color: rgb(0, 0, 0);
    
    ;
    


}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around center;
   
   background-color: aquamarine;
   max-width: 50%;
   border-radius: 5px;
  
    
    }
    .footer1{
        margin: 0;
        width: 100%;
    }
    .footer2{
        margin: 0;
        width: 100%;
    }


.self{
    align-self: flex-end;
}
.end{
    text-align: end;
}
.seventh-square{
    height: 300px;
    width: 100%;
   background-image: url(img/item3.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-color:#255ee9;
}
.seventh-square2{
display: flex;
    background-color: #255ee9;
    width: 50%;
    flex-direction: column;
    color: white;
}
h1{
    padding-bottom: 30px;
    color: white;
    font-size: 50px;
}
p{
    color: white;
    font-size: large;
}
.miao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.textself{
    displa
}
.miao{
    display: flex;
    justify-content: space-between;
}
.inline-block{
    display: inline-block;
}
.p2{
    padding-top: 50px;
    align-self: center;
}
.p3{
    display: flex;
    background-image: url(img/stars.svg);
    height: 400px;
    width: 400px;
    background-size: contain;

background-position: center;
}